@import "../../vars.css";

.contactButton {
  z-index: 9999999;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;

  &:hover {
    cursor: pointer;
  }

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
