@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.title {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}
.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 45px;
  }
}

.skillsCont {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.tabContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-bottom: solid 2px #19376d;
}

.skills {
  width: 100%;
  overflow-y: scroll;
  min-height: 0;
  max-height: 470px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  margin-top: 20px;
}

.tab {
  width: 16%;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease;
  font-style: var(--font-robot);
}

.activeTab {
  width: 16%;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease;
  font-style: var(--font-robot);
}

.history {
  width: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0.42) 100%);
  border-radius: 10px;
  padding: 24px;

  img {
    width: 100px;
  }
}

.historyItemDetails {
  font-family: var(--font-robot);
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 18px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 18px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: row;
    justify-content: center;
  }

  .skillsCont {
    width: 100%;
  }

  .history {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    gap: 9px;
  }

  .tabContainer {
    width: auto;
    justify-content: center;
    overflow-x: auto;
  }

  .tab,
  .activeTab {
    font-size: 8px;
  }

  .skillImageContainer {
    width: 50px;
    height: 50px;
    padding: 10px;

    img {
      width: 25px;
    }
  }

  .skill p {
    font-size: 12px;
  }

  .historyItem img {
    display: none;
  }
}
