:root {
  --color-text: #e0e0e0;
  --color-primary: #08386f;
  --color-primary-hover: #092b52;
  --color-secondary: rgb(41, 56, 115);
  --color-dark: #15253a;
  --color-bg: #181f29;

  --font-robot: "Roboto";
}
